:root {
  --green: #17c01a;
  --purple: #6600ff;
  --red: #e01818;
  --light-blue: #0066ff;
  --light-green: #00ff66;
  --light-red: #ff0066;

  --spacing-md: 8px;
  --spacing-lg: 16px;
}

html,
body,
#map {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  padding: var(--spacing-md) var(--spacing-lg);
  transition: transform 0.05s;
}
button:active {
  transform: scale(0.98);
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.gap-lg {
  gap: var(--spacing-lg);
}

.success {
  color: var(--green);
}
.error {
  color: var(--red);
}

.hidden {
  display: none;
}

.border-md {
  border-radius: 5px;
}

#target-country {
  background-color: var(--purple);
  color: white;
  padding: var(--spacing-md) var(--spacing-lg);
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: target-country-float 1.5s ease-in-out infinite;
  animation-play-state: paused;
}
#target-country::after {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: var(--purple);
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%) rotate(45deg);
}
@keyframes target-country-float {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@media (prefers-reduced-motion) {
  #target-country {
    animation: none;
  }
}

#result-dialog {
  position: absolute;
  top: 25px;
  z-index: 1000;
  text-align: center;
}

#see-answer {
  background-color: var(--purple);
  color: white;
}

#play-again {
  background-color: var(--green);
  color: white;
}
